:root {
    background: linear-gradient(75deg, rgba(250, 26, 48, 0.1), rgba(32, 159, 58, 0.1));
    font-size: 62.5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#title {
    border: 1rem solid rgb(252, 179, 191, 0.5);
    text-align: center;
    color: rgb(29, 29, 34);
    font-size: 4rem;
    border-radius: 0.5rem;
    font-weight: 900;
    font-style: oblique;
}

#rules-btn {
    font-size: 2rem;
}

.flex-grid {
    display: grid;
    flex-basis: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vw;
    grid-template-columns: repeat(3, minmax(2vw, 1fr));
    height: 70vh;
    background-color: rgb(250, 122, 250, 0.25);
    margin: .5rem auto;
    padding: 5px;
    gap: 0.5rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#username {
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.8), 0 2rem 8rem 0 rgba(0, 0, 0, 0.4);
    font-style: oblique;
    font-weight: 900;
}

#play {
    padding: 3rem;
    margin: 4rem;
    font-size: 4rem;
    border: 1rem solid rgb(250, 233, 104);
    background: linear-gradient(225deg, rgba(252, 216, 219, 0.4), rgba(215, 251, 223, 0.4));
    width: 85%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    border-radius: 2rem;
    font-style: oblique;
    font-weight: 900;
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.8), 0 2rem 8rem 0 rgba(0, 0, 0, 0.4);
}

#rulesBtn:hover,
#play:hover,
#username:hover,
.nav-btn:hover {
    box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.8), 0 1rem 3rem 0 rgba(0, 0, 0, 0.4);

}

.flex-box {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
}

.scoreflex-box {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 4rem;
    text-align: center;
}

.quiz-box {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;

}

.choice-hover:hover {
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.8), 0 2rem 8rem 0 rgba(0, 0, 0, 0.4);
}

#quiz-choice {
    text-align: center;
    font-size: 3vh;
}

.progressDisplay {
    justify-content: space-between;
    display: flex;
    align-content: center;
    padding: 1rem;
    border: .5rem solid rgba(25, 25, 25);
    width: 100vw;
    font-size: 2rem;
    align-items: center;
    font-size: 2rem;
    height: 10rem;
}

#progress-bar {
    width: 100%;
    height: 3rem;
}

.btn {
    font-size: 3rem;
    margin-top: 2rem;
    border-radius: 5px;
    padding: 5px;
}

#question {
    font-weight: 600;
    font-size: 3vh;
}

#question,
.choice {
    padding: 1rem;
    margin: 1rem;
}

.choice {
    border: 0.5rem solid rgb(27, 26, 26);
    text-align: center;
    background-color: rgb(254, 241, 225);
    min-width: 30rem;
    font-weight: 600;

}

.select {
    background-color: rgb(15, 15, 15);
    color: rgb(228, 241, 253);
    font-weight: 900;
}


.scoreflex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 10vh;
    padding: 2rem 5.1rem;
    border-radius: 10px;
    margin: 0 2px;
    font-size: 2vh;
}

.flex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 10vh;
    padding: 1rem 2rem;
    border-radius: 8px;
    margin: 0 2px;
    font-size: 1.7vh;
}


.nav-btns {
    background-color: rgb(230, 230, 206);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 10vh;
    border-radius: 10px;
    margin: 0 2px;
}

.nav-btn {
    font-size: 2rem;
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.8), 0 2rem 8rem 0 rgba(0, 0, 0, 0.4);
}

.quiz-btn {
    font-size: 1.7rem;
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.8), 0 2rem 8rem 0 rgba(0, 0, 0, 0.4);
}

#home-btn {
    background: linear-gradient(225deg, rgba(246, 3, 24, 0.8), rgba(252, 39, 1, 0.4));
}

#instructions {
    background: linear-gradient(225deg, rgba(67, 82, 240, 0.8), rgba(161, 148, 245, 0.4));
}

#submit-categories,
#skip {
    background: linear-gradient(225deg, rgba(3, 158, 21, 0.8), rgba(17, 201, 69, 0.4));
}

.flex:hover {
    background-color: rgb(73, 71, 71);
    color: rgb(238, 213, 102);
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.8), 0 2rem 8rem 0 rgba(0, 0, 0, 0.4);
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 1vh;


}

.flex:focus {
    background-color: rgb(255, 255, 255);
    color: rgb(27, 27, 27);
    box-shadow: 0 5px rgb(102, 102, 102);
}

#score-box {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-content: center;
    font-weight: 800;
    margin: 5rem 2rem;
    text-align: center;
}

#rulesBtn {

    font-size: 4rem;
    border-radius: 1rem;
    padding: 1rem;
    background: linear-gradient(225deg, rgba(151, 126, 243, 0.4), rgba(237, 73, 70, 0.4));
    border: #888888;
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.8), 0 2rem 8rem 0 rgba(0, 0, 0, 0.4);
    font-style: oblique;
    font-weight: 900;
}

.rules-box,
.warning-box,
.fetchwarning-box {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.rules-content {
    position: relative;
    background-color: rgb(243, 243, 242);
    margin: 2rem;
    border: 1px solid rgb(150, 149, 149);
    border-radius: 1rem;
    width: 90%;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 1rem 2rem 0 rgba(0, 0, 0, 0.4);
    -webkit-animation-name: popup;
    -webkit-animation-duration: 1s;
    animation-name: popup;
    animation-duration: 1s;
    font-size: 2rem;
    font-weight: 600;
}

/*
  Animation for warning to drop down on screen
*/
@-webkit-keyframes dropdown {
    from {
        top: -30rem;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes dropdown {
    from {
        top: -30rem;
        opacity: 0
    }

    to {
        top: 0rem;
        opacity: 1
    }
}

.warning-content,
.fetchwarning-content {
    position: relative;
    background: linear-gradient(225deg, rgba(234, 230, 248, 1), rgba(246, 221, 220, 1));
    margin: auto;
    border: 1px solid #888;
    border-radius: 1rem;
    width: 90%;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 1rem 2rem 0 rgba(0, 0, 0, 0.4);
    -webkit-animation-name: dropdown;
    -webkit-animation-duration: 1s;
    animation-name: dropdown;
    animation-duration: 1s;
    font-size: 2rem;
    text-align: left;
    font-weight: 600;

}

/*
  Animation for warning to pop up on screen
*/
@-webkit-keyframes popup {
    from {
        bottom: -30rem;
        opacity: 0
    }

    to {
        top: 0rem;
        opacity: 1
    }
}

@keyframes popup {
    from {
        bottom: -30rem;
        opacity: 0
    }

    to {
        bottom: 0rem;
        opacity: 1
    }
}

.close-warning,
.close-rules,
.close-fetchwarning {
    color: rgb(12, 12, 12);
    float: right;
    font-size: 3rem;
    font-weight: 900;
}

.close-warning:hover,
.close-warning:focus,
.close-fetchwarning:hover,
.close-fetchwarning:focus,
.close-rules:hover,
.close-rules:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.warning-header {
    background: linear-gradient(225deg, rgba(248, 75, 75, 0.68), rgba(242, 3, 3, 0.9));
    color: white;
    border-radius: 1rem;
    text-align: center;
}


.fetchwarning-header {
    background: linear-gradient(225deg, rgba(21, 151, 52, 0.68), rgba(243, 41, 41, 0.7));
    color: white;
    border-radius: 1rem;
    text-align: center;
}

.rules-header {
    background: linear-gradient(225deg, rgba(250, 49, 45, 0.8), rgba(15, 23, 250, 0.7));
    color: white;
    border-radius: 1rem;
    text-align: center;
}


.warning-body,
.fetchwarning-body {
    padding: 1rem;
    list-style-position: inside;
}

.rules-body {
    padding: 1rem;
    list-style-position: inside;
}

/* Display Category font in larger screens */
@media screen and (min-width: 375px) {
    .flex {

        font-size: 2vh;
    }

    #quiz-choice {
        text-align: center;
        font-size: 4vh;
        margin: 1rem;
    }
}