:root {
    background: linear-gradient(75deg, rgba(250, 26, 48, 0.1), rgba(32, 159, 58, 0.1));
    font-size: 62.5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#title {
    border: 1rem solid rgb(252, 179, 191, 0.5);
    text-align: center;
    color: rgb(29, 29, 34);
    font-size: 2rem;
    border-radius: 0.5rem;
}

#rules-btn {
    font-size: 2rem;
}

.flex-grid {
    display: grid;
    flex-basis: 50%;
    width: 100vw;
    grid-template-columns: repeat(3, minmax(2vw, 1fr));
    height: 70vh;
    background-color: rgb(250, 122, 250, 0.25);
    margin: 2rem auto;
    padding: 5px;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#username {
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
}

#play {
    padding: 3rem;
    margin: 5rem;
    font-size: 4rem;
    border: 1rem solid rgb(250, 233, 104);
    background: linear-gradient(225deg, rgba(252, 216, 219, 0.4), rgba(215, 251, 223, 0.4));
    width: 85%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    border-radius: 2rem;
    font-style: oblique;
    font-weight: 900;
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.8), 0 2rem 8rem 0 rgba(0, 0, 0, 0.4);
}

#play:focus {
    box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.8), 0 1rem 3rem 0 rgba(0, 0, 0, 0.4);

}

.flex-box {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;

}

.quiz-box {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;

}

.choice-hover:hover {
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.8), 0 2rem 8rem 0 rgba(0, 0, 0, 0.4);
}

#quiz-choice {
    text-align: center;
    font-size: 3vh;
}

.progressDisplay {
    justify-content: space-between;
    display: flex;
    align-content: center;
    padding: 1rem;
    border: .5rem solid rgba(25, 25, 25);
    width: 100vw;
    font-size: 2rem;
    align-items: center;
    font-size: 2rem;
    height: 10rem;
}

#progress-bar {
    width: 100%;
    height: 3rem;
}

.btn {
    font-size: 3rem;
    margin-top: 2rem;
    border-radius: 5px;
    padding: 5px;
}

#question,
.choice {
    padding: 1rem;
    margin: 1rem;
}

.choice {
    border: 0.5rem solid rgb(27, 26, 26);
    text-align: center;
    background-color: rgb(254, 241, 225);
    min-width: 30rem;
}

.select {
    background-color: rgb(15, 15, 15);
    color: rgb(228, 241, 253);
}

.flex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 10vh;
    padding: 2rem 5.1rem;
    border-radius: 10px;
    margin: 0 2px;
    font-size: 2vh;
}

.nav-btn {
    background-color: rgb(230, 230, 206);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 10vh;
    border-radius: 10px;
    margin: 0 2px;
}

.flex:hover {
    background-color: rgb(73, 71, 71);
    color: rgb(238, 213, 102);
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.8), 0 2rem 8rem 0 rgba(0, 0, 0, 0.4);
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0.5vh;
}

#rules {
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: rgb(26, 4, 83);
    background-color: rgb(250, 247, 242);
    position: absolute;
    font-size: 1.5rem;
    font-weight: 900;
    height: 70%;
    margin-top: 12rem;
    border-radius: 1rem;
    padding: 2rem;
}

.flex:focus {
    background-color: rgb(255, 255, 255);
    color: rgb(27, 27, 27);
    box-shadow: 0 5px rgb(102, 102, 102);
}

#score-box {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-content: center;
    margin: 5rem 2rem;
    text-align: center;
}