:root {
    background: linear-gradient(75deg, rgb(244, 44, 180, 0.25), rgb(252, 252, 9, 0.25));
    font-size: 62.5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#title {
    border: 2rem solid rgb(252, 179, 191, 0.5);
    text-align: center;
    color: rgb(29, 29, 34);
    font-size: 4rem;
    border-radius: 1rem;
}

.flex-grid {
    display: grid;
    flex-basis: 50%;
    width: 100vw;
    grid-template-columns: repeat(3, minmax(2vw, 1fr));
    height: 70vh;
    background-color: rgb(250, 122, 250, 0.25);
    margin: 2rem auto;
    padding: 5px;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#username {
    padding: 2rem;
    text-align: center;
}

#play {
    padding: 3rem;
    margin: 5rem;
    font-size: 4rem;
    border: 1rem solid rgb(245, 239, 66);
    background-color: aliceblue;
    width: 75%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    border-radius: 2rem;
    font-style: oblique;
}



.flex-box {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    text-align: center;
}

.progressDisplay {
    justify-content: space-around;
    display: flex;
    align-content: center;
    padding: 1rem;
    border: 1rem solid black;
    width: 100vw;
    
    align-items: center;
    font-size: 2rem;
    height: 10rem;
}

#progress-bar {
    width: 100%;
    height: 3rem;
}
 
.btn {
    font-size: 3rem;
    margin-top: 2rem;
    border-radius: 5px;
    padding: 5px;
}

#question,
.choice {
    padding: 1rem;
    margin: 1rem;
}

.choice {
    border: 0.5rem solid black;
    text-align: center;
    background-color: antiquewhite;
    min-width: 30rem;

}

.select {
    background-color: black;
    color: aliceblue;
}

.flex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 10vh;
    padding: 2rem 5rem;
    border-radius: 10px;
    margin: 0 2px;
    font-size: 1rem;
}

.nav-btn {

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 10vh;
    border-radius: 10px;
    margin: 0 2px;
}

.flex:hover {
    background-color: rgb(73, 71, 71);
    color: rgb(238, 213, 102);
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.8), 0 2rem 8rem 0 rgba(0, 0, 0, 0.4);

} 

.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    

}



.flex:focus {
    background-color: white;
    color: black;
    box-shadow: 0 5px #666;
}

#score-table{
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-content: center;
    margin: 10rem 2rem;
    text-align: center;
}